body {
  font-family: "Noto Serif", serif;
}

input,
.persian {
  font-family: "Markazi Text", serif !important;
}

input:read-only {
  background-color: #fff !important;
}

input:-moz-read-only {
  background-color: #fff !important;
}

.container {
  margin-top: 1rem;
  max-width: 74ch;
}
