body {
  font-family: "Noto Serif", serif;
}

input,
.persian {
  font-family: "Markazi Text", serif !important;
}

input:read-only {
  background-color: #fff !important;
}

input:-moz-read-only {
  background-color: #fff !important;
}

p.persian {
  font-size: large;
}

ul,
#copyButton,
#resetButton {
  margin-top: 1rem;
}

.container {
  margin-top: 1rem;
  max-width: 74ch;
}

#ciphertextHeader {
  margin-top: 1.2rem;
}

#submitButton {
  margin-right: 1rem;
  margin-top: 1rem;
}
